version: "3.9"

services:
  db:
    image: postgres:15
    container_name: secure_registry_postgres
    environment:
      POSTGRES_DB: testdb
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test@1
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

  web:
    build: .
    container_name: secure_registry_server
    command: >
      sh -c "
      python manage.py migrate &&
      gunicorn secure_registry_server.wsgi:application
      --bind 0.0.0.0:8000
      --log-level info
      "
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    restart: always

volumes:
  postgres_data:
